*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color:hsl(51, 70%, 75%); 
    font-family: 'Montserrat', sans-serif;
}
 
/** HEADER - MENU NAVEGACION  **/ 

.barra{
    width: 100%;
    height: 4em;
    background-color: rgb(250, 211, 111);
    /** background-color: rgb(238, 198, 98); **/
    /** background-color: rgb(203, 206, 238); **/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    position: fixed;
    box-shadow: 2px 2px 8px goldenrod;
    padding-right: 3em;
}

ul, li{
    margin-right: -15px;
}

.boton{
    width: 10.93em;
    height: 2.5em;
    text-align: center;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
   /** margin-left: 50px; **/
    font-weight: bold;
    cursor:pointer;
    /** background-color: chartreuse; **/
}

.boton-contacto{
    width: 9.68em;
    height: 2.5em;    
    border-radius: 6.25em;
    text-decoration: none;
    background-color: rgb(106, 95, 211); 
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /**margin-left: 50px; **/
    font-weight: bold;
}

.boton-contacto:hover{
    background-color: cornflowerblue;
}

a:link{
    text-decoration: none;
}

.boton-contacto a:hover{
    color: brown;
}

.aheader{
    color:black;
    text-decoration: none;
}

.aheader:hover{
    color:  rgb(106, 95, 211); 
}

.aheader-contacto{
    color:white;
    text-decoration: none;
}

li.boton{
    margin-right: 0.19em;
}

/** CONTENEDOR PRINCIPAL - INFORMACION **/

.contenedor-principal{
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content:center;
    padding: 7.5em 1.87em;

  
    /**background-color:darksalmon; **/
}

.informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.saludo{
    font-weight: 800;
    font-size: 1.87em;
    margin-left: 3.12em;
    margin-bottom: 0.063em;
    /** background-color: darkorange; **/
}

p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.nombre{
    color: rgb(106, 95, 211); 
    font-size: 3.75em;
    margin-left: 0.8em;
    margin-bottom: 0.063em;
    
}

h1{
    font-weight: 800;
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;  
}  

:-webkit-any(article,aside,nav,section) h1{
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
} 

.descrip{
    color:rgb(212, 132, 11);
    font-size: 1.875em;
    font-style: italic;
    font-family: cursive;
    font-weight: 500;
    margin-left: 1.5em;
    margin-top: 0.125em;
   /** background-color: aqua; **/
}  

.loquehago{
    color: white;
    margin-left: 1.5em;
    background-color:coral;
}

#boton-info{
    margin-left: 2.8em;
    margin-top: -0.31em;
}

/**
.imagen{
    display: block;
    width: 100%;
}  **/

.about-img{
    max-width: 43.75em;
    margin-top: 1em;
} 


/** PARTE 2 **/
/** MIS CONOCIMIENTOS **/

.container-conocimientos{
    background-color: hsl(46, 92%, 65%); 
    box-shadow: 2px 2px 8px goldenrod;
}

#mis-conocimientos{
    font-size: 2.81em;
    font-weight: 900;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 0.8em;
    font-family: 'Nunito', sans-serif;    
}

.descri-conoc{
    text-align: center;
    padding-left: 33%;
    padding-right: 33%;
    padding-bottom: 0.3em;
    font-weight: lighter;
}

h2{
    display: block;
}

/** CAJAS **/

.container-cajas{
    /** background-color: cornflowerblue; **/
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 62.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    margin:auto;
}
 
.item-skills{
    
    width: 14em;
    height: 12em;
    background-color: white;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: flex-start;
    width: 16.25em;
    height: 14.37em;
    border-radius: 10%;
    margin:0.5em;
    margin-top:2em;
    margin-bottom: 2em;
}


#skills-hov:hover{
    border: 5px solid goldenrod;
}

.devicon-html5-plain{
    font-size: 6.25em;
    padding-left: 0.8em;
    padding-top: 0.4em;
}

.skills-html{
    font-size: 1.25em;
    font-weight: 700;
    padding-left: 38%;
    display: flex;
    text-align: center;
}

.devicon-css3-plain{
    font-size: 6.25em;
    padding-left: 0.8em;
    padding-top: 0.4em;
}

.skills-css{
    font-size: 1.25em;
    font-weight: 700;
    padding-left: 42%;
    text-align: center;
}

.devicon-sass-original{
    font-size: 6.25em;
    padding-left: 0.8em;
    padding-top: 0.4em;
}

.skills-sass{
    font-size: 1.25em;
    font-weight: 700;
    padding-left: 42%;
    text-align: center;
}

.devicon-javascript-plain{
    font-size: 6.25em;
    padding-left: 0.8em;
    padding-top: 0.4em;
}

.skills-js{
    font-size: 1.25em;
    font-weight: 700;
    padding-left: 4em;
    text-align: center;
    position: relative;
}

.devicon-react-original{
    font-size: 6.25em;
    padding-left: 0.8em;
    padding-top: 0.4em;
}

.skills-react{
    font-size: 1.25em;
    font-weight: 700;
    padding-left: 40%;
    text-align: center;
}

.devicon-git-plain{
    font-size: 6.25em;
    padding-left: 0.8em;
    padding-top: 0.4em;
}

.skills-git{
    font-size: 1.25em;
    font-weight: 700;
    padding-left: 45%;
    text-align: center;
}

/** PARTE 3 **/
/** PARRAFO **/

.parte-3{
   /**  background-color: hsl(46, 92%, 65%);**/
    box-shadow: 2px 2px 8px goldenrod; 
    background-color: darkgoldenrod;
    width: 100%;
} 

.container-parrafo{
    display: flex;
   /**  margin-left: auto;
    margin-right: auto; **/
    margin-bottom: 0em;
    background-color: darkgoldenrod;
    /** background-color: rgb(202, 218, 248); **/
    /**background-color: rgb(241, 179, 135);**/
}

.comilla{
    font-size: 12em;
    text-align: center;
    margin: 0.1em;
    height: 0.8em;
    color:white;
    /** background-color: burlywood; **/
}

.texto{
    text-align: center;
    font-size: 1.3em;
    font-style: italic;
    color: white;
    line-height: 1.5em; 
    margin-top:0;
    margin-bottom:2em;
    /** background-color: seagreen; **/
}

.autor{
    text-align: center;
    font-size:1.8em;
    color:white;
    font-weight: bolder;
    margin-bottom: 2em;
}

        /** PARTE 4 **/
        /** MIS PROYECTOS **/

.container-proy{
    background-color: hsl(46, 92%, 65%); 
    box-shadow: 2px 2px 8px goldenrod;
}

#mis-proyectos{
    font-size: 2.81em;
    font-weight: 900;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 0.8em;
    font-family: 'Nunito', sans-serif; 
}

.descri-proy{
    text-align: center;
    padding-left: 33%;
    padding-right: 33%;
    padding-bottom: 0.3em;
    font-weight: lighter;
}

/** CAJAS - MIS PROYECTOS **/ 

.container-cajas-proy{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 62.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    margin:auto;
    /** background-color: green; **/
}

.item-proy{
    width: 23em;
    height: 20em;
    background-color: white;
    display: flex;
    justify-content: center; 
    flex-direction: column;
    align-items: center;
    width: 18.75em;
    height: 19.37em;
    border-radius: 3%;
    border: 5px solid goldenrod;
    margin:0.5em;
    margin-top:2em;
    margin-bottom: 2em;
}

.proy-name{
    font-size: 1.25em;
    font-weight: 700;
    display: flex;
    text-align: center;
}

#proy-hov:hover{
    border: 4px solid rgb(106, 95, 211); 
}

             /** PARTE 5 **/
             /** FORMULARIO **/ 

/** Contenedor general **/
.container-form{
    background-color:white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    border-radius: 15px;
    border: 2px solid goldenrod;
    margin-bottom: 2%;
}

.parte-5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 1em;
    /** background-color: lightseagreen; **/
}

/** Contenedor parte Contacto **/

.parte-contacto{
    width: 50%;
/** background-color: teal;**/
} 

/** Contenedor parte formulario **/

.parte-formulario{
    width: 50%;
}

#contacto{
    font-size: 2.81em;
    text-align: justify;
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    padding-left: 10%;
    /** font-family: 'Nunito', sans-serif; **/
    font-family: 'Quicksand', sans-serif;
    /** background-color: brown; **/
}
            
.descri-form{
    text-align: justify;
    padding-bottom: 0.93em;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: lighter;
    margin-top: 1em;
}
            /** CONTENEDORES ICONOS **/

.cont-twitter{
    display: flex;
    flex-direction: row;
    justify-content:left;
    /** background-color:darkkhaki: **/
} 

.devicon-twitter-original{
    font-size: 1.20em;
    padding-left: 4em;
    padding-top: 2.5em;
    margin-right: 0.75em;
}

.cont-github{
    display: flex;
    flex-direction: row;
    justify-content:left;
}

.devicon-github-original{
    font-size: 1.25em;
    padding-left: 4em;
    padding-top: 2.5em;
    margin-right: 0.75em;
}

.cont-link{
    display: flex;
    flex-direction: row;
    justify-content:left;
}

.devicon-linkedin-plain{
    font-size: 1.25em;
    padding-left: 4em;
    padding-top: 2.5em;
    margin-right: 0.75em;
}

.cont-mail{
    display: flex;
    flex-direction: row;
    justify-content:left;
}

.fa-envelope{
    font-size: 1.25em;
    padding-left: 4em;
    padding-top: 0.2em;
    margin-right: 0.75em;
}

   /** Texto de iconos **/

h4{
    font-weight:lighter;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.1em;
}

h4:hover{
    color:blue;
}

/** Establece la fuente del form **/
.datos{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    /** background-color: deeppink; **/
}

/** Extiende el cuadro de texto **/

/** .form-mensaje > textarea{
    display: block; 
    resize: both;
    /** max-height: 2000em;
    min-height: 12em; **/
 
textarea{
    resize: both;
    min-width: 34em;
    min-height: 9.37em; 
    display: block;
} 


/** Alinea los campos nombre y apellido **/

.nombre-ape{
    display: flex;
    flex-direction: row;
    padding-right: 0.31em;
    justify-content: space-between;
}

.form-nombre{
    margin-top:1em;
}

.form-apellido{
    margin-right: 5em;
    margin-top: 1em;
}

.form-email{
    margin-bottom: 1em;
}

.form-mensaje{
   margin-bottom: 2em;
}

#idEmail{
    width: 34em;
} 

     /** Estilo de los campos **/

input, textarea{
    border-radius: 1.25em;
    height: 3em;
    background-color: #f6f7fb;
    border: 1px solid #f6f7fb;
    outline: none;
    box-shadow: 1px 1px 8px goldenrod;
}

input:hover{
border: 1px solid rgb(106, 95, 211);
}

textarea:hover{
    border: 1px solid rgb(106, 95, 211);
}

 /** BOTON ENVIAR **/

.boton-enviar{
    display: flex;
    width: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
   
.btn{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    width: 9.68em;
    height: 3.12em;
    border-radius: 6.25em;
    text-decoration: none;
    background-color:  hsl(46, 92%, 65%);
}

.btn:hover{
    background-color: rgb(106, 95, 211);
    color: white;
}

                 /** PARTE 6 **/
                 /** FOOTER **/

          /** Container general **/

.container-foot{
    display: flex;
    margin-bottom: 0em;
    background-color: darkgoldenrod;
}

        /** Fondo Footer **/
.parte-6{
    box-shadow: 2px 2px 8px goldenrod; 
    background-color: darkgoldenrod;
    width: 100%;
}
        /** Menu **/

.menu-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin-left: 32%;
    margin-right: 32%;
    margin-top: 4%;
    font-size: 1em;
}
    /** Texto del menu **/

.link-footer{
    color:white;
    font-family:'Quicksand', sans-serif;
}

.link-footer:hover{
    color:darkblue;
    font-weight: 800;
}


/** ICONOS REDES SOCIALES - FOOTER **/ 

.fa-twitter, .fa-github, .fa-linkedin{
    border:0.5em solid white;
    background-color: white;
    border-radius: 50%;
    font-size: 1.4em;;
}

.fa-twitter:hover{
    background-color:  darkgoldenrod; 
    border: 0.5em solid white;
}

.fa-github:hover{
    background-color:  darkgoldenrod;
}


.fa-linkedin:hover{
    background-color:  darkgoldenrod;
}

     /** Alineacion iconos **/

.redes-footer-links{
    margin-left: 35%;
    margin-right: 35%;
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    margin-top: 2%;
}

li{
    list-style: none;
    display: inline;
}

    /** Texto hecho con ❤️ **/

.hecho{
    text-align: center;
    font-family:'Quicksand', sans-serif;
    font-size: 1em;
    color: white;
    margin-bottom: 5%;
}

