        @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600;700&display=swap');
        h2{
            font-family: 'Nunito', sans-serif;
        }

        .item-skills{
            font-family: 'Poppins', sans-serif;
        }

        .comilla{
            font-family: 'Catamaran', sans-serif;
        }

        .texto, .autor{
            font-family: 'Quicksand', sans-serif;
        }

*{
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color:hsl(51, 70%, 75%); 
    font-family: 'Montserrat', sans-serif;
}
 
/** HEADER - MENU NAVEGACION  **/ 

.barra{
    width: 100%;
    /**height: 4em; **/
    background-color: rgb(250, 211, 111);
    /** background-color: rgb(238, 198, 98); **/
    /** background-color: rgb(203, 206, 238); **/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
    position: fixed;
    box-shadow: 2px 2px 8px goldenrod;
   /** padding-right: 3em; **/
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}

.barra a{
    /**width: 10.93em;
    height: 2.5em; **/
    text-align: center;
    display: flex;
    justify-content: space-evenly; 
    align-items: center;
   /** margin-left: 50px; **/
    font-weight: bold;
    cursor:pointer;
    margin-left: 3rem;
    /** background-color: chartreuse; **/
}

a:link{
    text-decoration: none;
}

.aheader-contacto{
    color:white;
    background-color: rgb(106, 95, 211); 
    border-radius: 6.25em;
    font-weight: bold;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
}

.aheader-contacto:hover{
    background-color: cornflowerblue;
    color: brown;   
}

.aheader{
    color:black;
}

.aheader:hover{
    color:  rgb(106, 95, 211); 
}

/** CONTENEDOR PRINCIPAL - INFORMACION **/

#contenedor-principal{
    
    display:flex;
    flex-direction: row;
    justify-content:center;
    padding-top: 8em;
    padding-bottom: 8em;
 
    /** background-color:darksalmon; **/
}

.parte-1{
    max-width: 1200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   /** background-color: brown; **/
}

.informacion{
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.saludo{
    font-weight: 800;
    font-size: 1.87em;
    
    margin-bottom: 0.063em;
    /** background-color: darkorange; **/
}

p{
    /**display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; **/
}

.nombre{
    color: rgb(106, 95, 211); 
    font-size: 3.75em;
    font-weight: 800;
    /*margin-left: 0.8em; */
    margin-bottom: 0.063em;
   
}

.descrip{
    color:rgb(212, 132, 11);
    font-size: 1.875em;
    font-style: italic;
    font-family: cursive;
    font-weight: 500;
    /**margin-left: 1.5em; **/
    margin-top: 0.125em;
    margin-bottom: 2rem;
   /** background-color: aqua; **/
}  


#boton-info{

    color:white;
    background-color: rgb(106, 95, 211); 
    border-radius: 6.25em;
    font-weight: bold;
    padding: 0.5rem 1rem;
       
}


.imagen{
    width: 50%;
}  

/** .about-img{
    max-width: 43.75em;
    margin-top: 1em;
}  **/


/** PARTE 2 **/
/** MIS CONOCIMIENTOS **/

.container-conocimientos{
    background-color: hsl(46, 92%, 65%); 
    box-shadow: 2px 2px 8px goldenrod;
    padding-bottom: 4rem;
}

#mis-conocimientos{
    font-size: 2.81em;
    font-weight: 900;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 0.8em;
    font-family: 'Nunito', sans-serif;    
}

.descri-conoc{
    text-align: center;
    padding-left: 33%;
    padding-right: 33%;
    padding-bottom: 0.3em;
    font-weight: lighter;
}

/** CAJAS **/

.container-cajas{
    /** background-color: cornflowerblue; **/
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    margin-left: 15em;
    margin-right: 15em;
}
 
.item-skills{
    
    width: 14em;
    /**height: 12em; **/
    background-color: white;
    display: flex;
    /** justify-content: center;  **/
    flex-direction: column;
    align-items: center;
    /** width: 16.25em;
    height: 14.37em; **/
    border-radius: 10%;
    margin:0.5em; 
    margin-top:2em; 
    margin-bottom: 2em; 
}

.item-skills i{
    font-size: 6.25em;
    padding-top: 0.5em;
    padding-bottom: 0.2em;
}

.item-skills p{
    font-size: 1.25em;
    padding-bottom: 0.3em;
}

.item-skills:hover{
    border: 5px solid goldenrod;
} 

.item-skills:hover p{
    color: blue;
    font-weight: 500;
}


/** PARTE 3 **/
/** PARRAFO **/

.parte-3{
   /**  background-color: hsl(46, 92%, 65%);**/
    box-shadow: 2px 2px 8px goldenrod; 
    background-color: darkgoldenrod;
    width: 100%;
} 

.container-parrafo{
    display: flex;
   /**  margin-left: auto;
    margin-right: auto; **/
    margin-bottom: 0em;
    background-color: darkgoldenrod;
    /** background-color: rgb(202, 218, 248); **/
    /**background-color: rgb(241, 179, 135);**/
}

.comilla{
    font-size: 12em;
    text-align: center;
    margin: 0.1em;
    height: 0.8em;
    color:white;
    /** background-color: burlywood; **/
}

.texto{
    text-align: center;
    font-size: 1.3em;
    font-style: italic;
    color: white;
    line-height: 1.5em; 
    margin-top:0;
    margin-bottom:2em;
    /** background-color: seagreen; **/
}

.autor{
    text-align: center;
    font-size:1.8em;
    color:white;
    font-weight: bolder;
    margin-bottom: 2em;
}

        /** PARTE 4 **/
        /** MIS PROYECTOS **/

.container-proy{
    background-color: hsl(46, 92%, 65%); 
    box-shadow: 2px 2px 8px goldenrod;
}

#mis-proyectos{
    font-size: 2.81em;
    font-weight: 900;
    text-align: center;
    padding-top: 1.5em;
    padding-bottom: 0.8em;
    font-family: 'Nunito', sans-serif; 
}

.descri-proy{
    text-align: center;
    padding-left: 33%;
    padding-right: 33%;
    padding-bottom: 0.3em;
    font-weight: lighter;
}

/** CAJAS - MIS PROYECTOS **/ 

.container-cajas-proy{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 10rem;
    padding-right: 10rem;

    
    /** background-color: green; **/
}

.item-proy{
    width: 30%;
    /**height: 20em; **/
    background-color: white;
    color:black;
    display: flex;
   /** justify-content: center; **/
    flex-direction: column;
    align-items: center;
    border-radius: 3%;
    border: 5px solid goldenrod;
    /**margin:0.5em; **/
    margin-top:2em;
    margin-bottom: 2em;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.proy-name{
    font-size: 1.25rem;
    font-weight: 700;
    text-align: center;
    padding-top: 1rem;
}

.project-portfolio{
    margin-bottom: 2.7rem;
    padding-top: 3rem;
}

.item-proy:hover{
    border: 4px solid rgb(106, 95, 211); 
}

.item-proy:hover p{
    color: rgb(106, 95, 211); 
}

             /** PARTE 5 **/
             /** FORMULARIO **/ 

/** Contenedor general **/
.container-form{
    background-color:white;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%; 
    border-radius: 15px;
    border: 2px solid goldenrod;
    margin-bottom: 2rem;
}

.parte-5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
    margin-left: 1rem;
    margin-top: 1rem;
    /** background-color: lightseagreen; **/
}

/** Contenedor parte Contacto **/

.parte-contacto{
    width: 50%;
/** background-color: teal;**/
} 

/** Contenedor parte formulario **/

.parte-formulario{
    width: 50%;
}

#contacto{
    text-align: justify;
    padding-top: 1.5em;
    padding-bottom: 0.2em;
    margin-left: 15%;
    font-size: 2.81rem;
    /** font-family: 'Nunito', sans-serif; **/
    font-family: 'Quicksand', sans-serif;
    /** background-color: brown; **/
}
            
.descri-form{
    text-align: justify;
    padding-bottom: 0.93em;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: lighter;
    margin-top: 1rem;
    margin-bottom: 2em;
}
            /** CONTENEDORES ICONOS **/

.cont-redes{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.redes{
    margin-bottom: 2rem;
    font-size: 1.2rem;
}

.logo-form{
    color:black;
}

.logo-form i{
    margin-right: 1rem;
    padding: 0.5rem;
}

.logo-form:hover{
    color:blue;
}

.logo-form:hover i{
    border-radius: 50%;
    background-color: blue;
    color:white;
}

/** Establece la fuente del form **/
.datos{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    /** background-color: deeppink; **/
}

/** Extiende el cuadro de texto **/

textarea{
    resize: both;
    min-width: 34em;
    min-height: 9.37em; 
    display: block;
} 

/** Alinea los campos nombre y apellido **/

.nombre-ape{
    display: flex;
    flex-direction: row;
    padding-right: 0.31em;
    justify-content: space-between;
}

.form-nombre{
    margin-top:1em;
}


.form-email{
    margin-bottom: 1em;
}

.form-mensaje{
   margin-bottom: 2em;
}

#idEmail{
    width: 34em;
} 

     /** Estilo de los campos **/

input, textarea{
    border-radius: 1.25em;
    height: 3em;
    background-color: #f6f7fb;
    border: 1px solid #f6f7fb;
    outline: none;
    box-shadow: 1px 1px 8px goldenrod;
    padding-left: 1.3em;
    font-family: 'Poppins', sans-serif;
}

input:hover{
border: 1px solid rgb(106, 95, 211);
}

textarea:hover{
    border: 1px solid rgb(106, 95, 211);
}

#idMensaje{
    padding-top: 1em;
    font-family: 'Poppins', sans-serif;
}


 /** BOTON ENVIAR **/

.boton-enviar{
    display: flex;
    width: 80%;
    text-align: center;
    justify-content: center;
    align-items: center;
}
   
.btn{
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    width: 9.68em;
    height: 3.12em;
    border-radius: 6.25em;
    text-decoration: none;
    background-color:  hsl(46, 92%, 65%);
    padding-left: 0.9em;
}

.btn:hover{
    background-color: rgb(106, 95, 211);
    color: white;
}

                 /** PARTE 6 **/
                 /** FOOTER **/

          /** Container general **/

.container-foot{
    display: flex;
    margin-bottom: 0em;
    background-color: darkgoldenrod;
    padding-bottom: 0; 
}

        /** Fondo Footer **/
.parte-6{
    box-shadow: 2px 2px 8px goldenrod; 
    background-color: darkgoldenrod;
    width: 100%;
    padding-bottom: 1rem;
    
}
        /** Menu **/

.menu-footer{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    list-style: none;
    margin-top: 4%;
    font-size: 1rem;
    margin-left: 32%;
    margin-right: 32%;
}
    /** Texto del menu **/

.link-footer{
    color:white;
    font-family:'Quicksand', sans-serif;
}

.link-footer:hover{
    color:darkblue;
    font-weight: 800;
}


/** ICONOS REDES SOCIALES - FOOTER **/ 

.fa-twitter, .fa-github, .fa-linkedin, .fa-at{
    border:0.5em solid white;
    background-color: white;
    border-radius: 50%;
    font-size: 1.4rem;
    
}

/** Color original azul - se cambia a violeta **/
.fa-at{
    color:#520252de;
}

.fa-twitter:hover{
    background-color:  white;
    color:blue;
}

.fa-github:hover{
    background-color:  white;
    color:blue;
}

.fa-linkedin:hover{
    background-color:  white;
    color:blue;
}

.fa-at:hover{
    background-color: white;
    color: blue;
}

     /** Alineacion iconos **/

.redes-footer-links{
    margin-left: 35%;
    margin-right: 35%;
    display: flex;
    justify-content: space-between;
    padding-top: 2%;
    margin-top: 2%;
}

li{
    list-style: none;
    display: inline;
}

    /** Texto hecho con ❤️ **/

.hecho{
    width: 100%;
    text-align: center;
    font-family:'Quicksand', sans-serif;
    font-size: 1em;
    color: white;
    margin-bottom: 2rem;
    margin-top: 1rem;
    margin-left: 2rem;
   
   
}
/*******************************************/
/** MEDIA QUERY **/ 
   
@media screen and (max-width: 576px){

    .barra{
        display: none;
    }

    /*** CONTENEDOR PRINCIPAL ***/

    #contenedor-principal{
        padding-top:4rem;
        padding-bottom: 4rem;
    }

    .parte-1{
        flex-direction: column;
        justify-content: center; 
        margin-left: 2rem;
        margin-right: 4rem;
    } 
      
    .saludo{
        font-size: 1.5em;
        text-align: center;
    }

    .nombre{
        font-size: 2.5em;
        text-align: center;
    }

    .descrip{
        font-size: 1.5em;
        text-align: center;
    }

    #boton-info{
        margin-bottom: 2rem;
        margin-left: 5rem;
        align-content: center;
    }
   
    .imagen{
        justify-content: center;
        padding-top: 3rem;
    }

    /*** MIS CONOCIMIENTOS ***/
    
    .container-conocimientos{
        width: 100%;
        padding-bottom: 1.5em;
        padding-top: 0.5rem;
    }
    
    #mis-conocimientos{
        font-size: 2.4em;
    } 
    
    .descri-conoc{
        font-size: 1.5em;
        padding-left: 10%;
        padding-right: 15%;
    }

     /*** CAJAS ***/ 

    .container-cajas{
        flex-direction: column;
        justify-content: center;
        font-size: 100%;
        margin-left: 25%;
        margin-right: 25%;
        padding-bottom: 1rem;
        
    }
        /*** PARRAFO ***/ 

    .container-parrafo{
        width: 100%;
        text-align: center;
    }
    
    .comilla{
        font-size: 6em;
    } 
    
    .texto{
        font-size: 1.5em;
        margin-right: 1em;
        margin-left: 1em;
    }

    .autor{
        font-size: 1.4em;
    }
    
    /*** MIS PROYECTOS ***/

    .container-proy{
        width: 100%;
        padding-bottom: 1.5em;
        padding-top: 0.5rem; 
    }

    #mis-proyectos{
        width: 100%;
        font-size: 2.5em;
     }

    .descri-proy{
        font-size: 1.5em;
        padding-left: 10%;
        padding-right: 15%;
        margin-bottom: 2rem;
    }

    /*** CAJAS Mis Proyectos ***/

    .container-cajas-proy{
        flex-direction: column;
        justify-content: center;
        width: 30rem;
        padding-left: 0;
        padding-right: 0;
        align-items: center;
    }

    .item-proy{
        width: 60%;
        position: relative;
        left: 8%;
        margin-top:0;
    }
 
   /*** FORMULARIO ***/

     
    .container-form{
        justify-content: center;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
    }
    
    .parte-5{
        flex-direction: column;
        justify-content: center;
    } 

    /*** CONTACTAME ***/

    #contacto{
        text-align: center;
        padding-bottom: 0.2em;
        padding-top: 1.8rem;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 3rem;
        /** font-family: 'Nunito', sans-serif; **/
        font-family: 'Quicksand', sans-serif;
    }

    .parte-contacto{
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .descri-form{
        font-size: 1.2rem;
    }
        
    .redes{
        font-size: 1.25rem;
        font-family: font-family: 'Nunito', sans-serif;
    }
    
    .logo-form:hover i{
        border-radius: 50%;
        background-color: blue;
        color:white;
    }
     /*** ESCRIBIME ***/ 

    .container-form{
        margin-top: 0;
        margin-bottom: 0;
        /**background-color: cornflowerblue; **/
    }  
 
    .parte-formulario{
        width: 100%;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .nombre-ape{
        width: 100%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        /** background-color: darkorchid; **/
    }

    /** Casillas de texto ***/

    #idNombre{
        width: 24rem;
    }
    
    #idApellido{
        width: 24rem;
    }

    #idEmail{
        width: 24rem;
        align-items: center;
        /** background-color: blue; **/
    }

      /*** Texto del ingreso de datos al formulario ***/

    .form-apellido{
        width:100%;
       /** background-color: darkorange; **/
      }

    .form-email{
       text-align: center;
       /** background-color: darksalmon; **/
    }
    
    .form-mensaje{
        text-align: center;
        /** background-color: fuchsia; **/
    }

        /*** Caja de texto del mensaje ***/
    textarea{  
        align-items: center;
        resize: both;
        min-width: 34em;
        min-height: 9.37em; 
        display: block;  
        margin-left: 5%;
    } 

    /*** Boton del formulario ***/ 
     
    .boton-enviar{
        width: 100%;
        /** background-color: greenyellow; **/
    }
    
    .btn{
        
        font-size: 1.1em;
        width: 9.68em;
        height: 3.12em;
        border-radius: 6.25em;
        text-decoration: none;
        background-color:  hsl(46, 92%, 65%);
       /** padding-left: 0.9em; **/
    }

    .btn:hover{
        background-color: rgb(106, 95, 211);
        color: white;
    }

       /*** FOOTER ***/

    .container-foot{  
        width: 100%;
    }

    .barra-footer{
        display: none;
    }

    .redes-footer-links{
        align-items: center;
        margin-left: 8%;
        margin-right: 15%;
        /**padding-right: 5em; **/
        font-size: 1.3em;
        padding-top: 2rem;
    }

    .hecho{
        font-size: 1.1em;
        margin-right: 0;
        margin-left: 0;
    }

